actionlib==1.14.0
angles==1.9.13
attrs==23.2.0
bokeh==3.1.1
bondpy==1.8.6
camera-calibration-parsers==1.12.0
catkin==0.8.10
catkin-pkg==1.0.0
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorlog==6.8.2
contourpy==1.1.1
cv-bridge==1.16.2
cycler==0.12.1
Cython==3.0.8
descartes==1.1.0
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
distro==1.9.0
docutils==0.20.1
dynamic-reconfigure==1.7.3
fonttools==4.49.0
gazebo-plugins==2.9.2
gazebo-ros==2.9.2
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
idna==3.6
image-geometry==1.16.2
imageio==2.34.0
importlib-resources==6.1.2
interactive-markers==1.12.0
Jinja2==2.10.3
joint-state-publisher==1.15.1
joint-state-publisher-gui==1.15.1
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
laser-geometry==1.6.7
lazy-loader==0.3
lxml==5.1.0
mapbox-earcut==1.0.1
MarkupSafe==2.0.1
matplotlib==3.7.5
mavros==1.17.0
message-filters==1.16.0
mpmath==1.3.0
msgpack==1.0.7
networkx==3.1
noise==1.2.2
numpy==1.24.4
packaging==23.2
pandas==2.0.3
pcg-gazebo==0.7.12
pillow==10.2.0
pkgutil-resolve-name==1.3.10
progress==1.6
psutil==5.9.8
pycollada==0.6
pyglet==1.5.28
pyparsing==3.1.1
python-dateutil==2.8.2
python-fcl==0.7.0.5
python-qt-binding==0.4.4
pytoml==0.1.21
pytz==2024.1
PyWavelets==1.4.1
PyYAML==6.0.1
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
referencing==0.33.0
requests==2.31.0
resource-retriever==1.12.7
ros-pytest==0.2.1
rosapi==0.11.17
rosbag==1.16.0
rosboost-cfg==1.15.8
rosbridge-library==0.11.17
rosbridge-server==0.11.17
rosclean==1.15.8
roscreate==1.15.8
rosgraph==1.16.0
roslaunch==1.16.0
roslib==1.15.8
roslint==0.12.0
roslz4==1.16.0
rosmake==1.15.8
rosmaster==1.16.0
rosmsg==1.16.0
rosnode==1.16.0
rosparam==1.16.0
rospkg==1.5.0
rospy==1.16.0
rosservice==1.16.0
rostest==1.16.0
rostopic==1.16.0
rosunit==1.15.8
roswtf==1.16.0
rpds-py==0.18.0
rqt-action==0.4.9
rqt-bag==0.5.1
rqt-bag-plugins==0.5.1
rqt-console==0.4.12
rqt-dep==0.4.12
rqt-graph==0.4.14
rqt-gui==0.5.3
rqt-gui-py==0.5.3
rqt-image-view==0.4.17
rqt-launch==0.4.9
rqt-logger-level==0.4.12
rqt-moveit==0.5.11
rqt-msg==0.4.10
rqt-multiplot==0.0.12
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.11
rqt-publisher==0.4.10
rqt-py-common==0.5.3
rqt-py-console==0.4.10
rqt-reconfigure==0.5.5
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.15
rqt-robot-steering==0.5.12
rqt-runtime-monitor==0.5.10
rqt-rviz==0.7.0
rqt-service-caller==0.4.10
rqt-shell==0.4.11
rqt-srv==0.4.9
rqt-tf-tree==0.6.4
rqt-top==0.4.10
rqt-topic==0.4.13
rqt-web==0.4.10
Rtree==1.2.0
rviz==1.14.20
scikit-image==0.21.0
scipy==1.10.1
sensor-msgs==1.13.1
Shapely==1.7.0
six==1.16.0
smach==2.5.2
smach-ros==2.5.2
smclib==1.8.6
svg.path==6.3
sympy==1.12
tabulate==0.9.0
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.7
tf2-kdl==0.7.7
tf2-py==0.7.7
tf2-ros==0.7.7
tifffile==2023.7.10
topic-tools==1.16.0
tornado==6.4
triangle==20230923
trimesh==3.16.4
tzdata==2024.1
urllib3==2.2.1
xacro==1.14.17
xmltodict==0.13.0
xxhash==3.4.1
xyzservices==2023.10.1
yasha==5.0
zipp==3.17.0
